nav{
  background-color: rgb(230, 230, 230);
  min-height: 50px;
 
}
nav a{
  padding: 20px;
  font-size: xx-large;
  
}
.active{
  text-decoration: none;
 color: rgb(48, 1, 255);

}

footer{
  background-color: black;
  color: white;
  min-height: 70px;
  padding-top: 5px;
  margin-top: 5px;
}
.card{
  background-color: aquamarine;
  margin: 8px;
  border-radius: 20px;
}
.card-img-top{
  padding: 20px;
}
.card-body{
  padding: 20px;
}
img{
  width: 200px;
}
flexy{
  display: flex;
  flex-wrap: wrap;
}
